
w1/d4-day_4/.ipynb_checkpoints/LHL Common Issues-checkpoint.ipynb
w1/d3-day_3/d3-notes.rtfd/TXT.rtf
w1/d4-day_4/lighthouse_imagedownload_tutorial-master/.DS_Store
w1/d4-day_4/lighthouse_imagedownload_tutorial-master/.ipynb_checkpoints/imagedownload-checkpoint.ipynb
w1/d4-day_4/lighthouse_imagedownload_tutorial-master/imagedownload.ipynb
w1/d4-day_4/lighthouse_imagedownload_tutorial-master/saved_images/placeholder.txt
w1/d5-day_5/Mini_project_slideshow.key
w2/w2-Day_1/config.py
w2/w2-Day_2/cast.csv
w2/w2-Day_2/sales1.csv
w2/w2-Day_2/sales2.csv
w2/w2-Day_2/titles.csv
w2/w2-Day_2/release_dates.csv
w2/w2-Day_3/config.py
w2/w2-Day_4/config.py
w1/d5-day_5/API_Miniproject_Google.key
w2/w2-Day_4/Slideshow_notes.rtfd/Screen Shot 2021-09-23 at 1.06.21 PM.png
w2/w2-Day_4/Slideshow_notes.rtfd/Screen Shot 2021-09-23 at 1.16.43 PM.png
w2/w2-Day_4/Slideshow_notes.rtfd/Screen Shot 2021-09-23 at 1.34.50 PM.png
w2/w2-Day_4/Slideshow_notes.rtfd/Screen Shot 2021-09-23 at 3.24.02 PM.png
w2/w2-Day_4/Slideshow_notes.rtfd/Screen Shot 2021-09-23 at 3.36.37 PM.png
w2/w2-Day_4/Slideshow_notes.rtfd/Screen Shot 2021-09-23 at 5.54.44 PM.png
w2/w2-Day_4/Slideshow_notes.rtfd/Screen Shot 2021-09-23 at 6.12.39 PM.png
w2/w2-Day_4/Slideshow_notes.rtfd/Screen Shot 2021-09-23 at 6.12.47 PM.png
w2/w2-Day_4/Slideshow_notes.rtfd/Screen Shot 2021-09-23 at 6.13.03 PM.png
w2/w2-Day_4/Slideshow_notes.rtfd/Screen Shot 2021-09-23 at 6.14.42 PM.png
w2/w2-Day_4/Slideshow_notes.rtfd/TXT.rtf
w2/w2-Day_4/__pycache__/config.cpython-38.pyc
w2/w2-Day_5/API_Miniproject_Google.key
w2/w2-Day_5/assessment-exam-student-python/
w5/w5d2/SSD_X_train.txt
w5/w5d2/SSD_y_train.txt
w5/w5d1/grid_search_challenge.ipynb
w5/w5d1/.ipynb_checkpoints/grid_search_challenge-checkpoint.ipynb
w5/w5d4/creditcard.csv
*.csv
w6-midterm/LH_midterm_project/
*.sav
w6-midterm/online 2/modeling - exploratory, baselines, poor X (with jean).ipynb
w6-midterm/online 2/model_2 - contains more feature engineering, model exploration.ipynb
w6-midterm/Online Midterm/.ipynb_checkpoints/flights_prediction-checkpoint.ipynb
w6-midterm/Online Midterm/.DS_Store
w6-midterm/Online Midterm/flights_prediction.ipynb
w6-midterm/online 2/xgboost.pickle
w6-midterm/online 2/weather_data.txt
w6-midterm/online 2/README.md
w6-midterm/online 2/random_forest.pickle
w6-midterm/online 2/presentation_guidelines.md
w6-midterm/online 2/model.pickle
w6-midterm/online 2/improvement.txt
w6-midterm/online 2/final_test_data.ipynb
w6-midterm/online 2/exploratory_analysis.ipynb
w6-midterm/online 2/airline_names_dict.txt
w6-midterm/online 2/airport_names_dict.txt
w6-midterm/online 2/attempt_3 - xgboost, good results, bad X.ipynb
w6-midterm/online 2/attempt_4-randomforest-Copy1.ipynb
w6-midterm/online 2/attempt_4-randomforest.ipynb
w6-midterm/online 2/attempt_4-xgbreg-Copy1.ipynb
w6-midterm/online 2/attempt_4-xgbreg.ipynb
w6-midterm/online 2/attempt_5-xgbreg.ipynb
w6-midterm/online 2/data_description.md
w6-midterm/online 2/.ipynb_checkpoints/modeling - exploratory, baselines, poor X (with jean)-checkpoint.ipynb
w6-midterm/online 2/.ipynb_checkpoints/exploratory_analysis-checkpoint.ipynb
w6-midterm/.ipynb_checkpoints/Thursday_last_shot-checkpoint.ipynb
w6-midterm/Midterm_presentation.key
*.pickle
*.can
*.pkl
w7/w7d5/MiniprojectW7D5.key
*.jpg
